{% extends "base.html" %}

{% block content %}

  <div class="container">

    <br><br><h2 class="featurette-heading text-center text-muted">Team</h2><br>
    <div class="row px-10">
      <div class="col-lg-4 text-center">
        <img class="rounded-circle"
             src="{{ url_for('static', filename='images/mo1.jpg') }}" width="120" height="120">
        <h2>Mo Zhai</h2>
        <p>Machine learning software engineer with solid academic knowledge and years of professional practice.
            He has an enthusiastic heart for Data Science and Information Technology industries.</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/mozhai/" target="_blank" role="button">View details »</a></p>
      </div>

      <div class="col-lg-4 text-center">
        <img class="rounded-circle"
             src="{{ url_for('static', filename='images/xun.jpg') }}" width="120" height="120">
        <h2>Xun Pei</h2>
        <p>Senior researcher and data science professional works at University of Chicago.
            She has an enthusiastic heart for Data science and Biology research.</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/xunpei/" target="_blank" role="button">View details »</a></p>
      </div>

      <div class="col-lg-4 text-center">
        <img class="rounded-circle"
             src="{{ url_for('static', filename='images/yanxuan.jpg') }}" width="120" height="120">
        <h2>Yanxuan Wang</h2>
        <p>Machine learning data science professional with solid statistics background.
        She has an enthusiastic heart for deep learning and AI research.</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/chris-yanxuan-wang-946732109/" target="_blank" role="button">View details »</a></p>
      </div>
    </div>

    <hr class="featurette-divider">
    <br><h2 class="featurette-heading text-center text-muted">Special Thanks!</h2><br>
    <div class="row featurette text-center">
      <div class="col-md-6">
        <h3 class="featurette-heading"> The University of Chicago</h3>
        <p class="lead">Sema Barlas Ph.D. -- Director</p>
        <p class="lead">Yuri Balasanov Ph.D. -- Supervisor</p>
        <p class="lead">Albert Chan -- Associate Director</p>
        <p class="lead">Laura Hamilton M.A. -- Assistant Director</p>
        <p class="lead">All faculty & All classmates</p>
      </div>
      <div class="col-md-6">
        <h3 class="featurette-heading">Spectrum Inc.</h3>
        <p class="lead">Ty King -- CEO</p>
        <p class="lead">Michael Izzo -- Senior Paid Media Analyst</p>
        <p class="lead">Spencer Dietrich -- Paid Media Analyst</p>
        <p class="lead">Adam Barrett -- Director of Account Service</p>
        <p class="lead"> Christopher Shilney -- Paid Media Department Manager</p>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Data Driven for the <span class="text-muted">Next Revolution</span></h2>
          <p class="lead">Data re-design the business. We dedicatedly work on data science and data engineering technologies to offer quality data-driven solutions. By leveraging the big data power, we identify significant and subtle business patterns, reduce the variances and errors, and enrich ideas and insights from the data perspective.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto"
             alt="500x500" style="width: 500px;"
             src="{{ url_for('static', filename='images/f1.jpg') }}">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Algorithms and Strategies for <span class="text-muted">Best Results</span></h2>
          <p class="lead">We bring advanced machine learning, natural language processing, and cloud computing expertise. Our solutions apply the best-fitted algorithms and models techniques combined with effective use cases hunting for business, thus making the final results accurate and cost-efficient.</p>

      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto"
             alt="500x500" style="width: 500px;"
             src="{{ url_for('static', filename='images/f2.jpg') }}">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Based on <span class="text-muted">Academic Research</span></h2>
          <p class="lead">From the university, our team has a strong R&D personnel with rich production experience, innovative thinking and academic background of statistics, mathematics, computer science.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto"
             alt="500x500" style="width: 500px;"
             src="{{ url_for('static', filename='images/f3.jpg') }}">
      </div>
    </div>

  </div>
{% endblock %}

