<!DOCTYPE html>
<html lang="en">
<head>
  <title>Starter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-light border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">UC&Spectrum</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="{{url_for('index')}}">Home</a>
      <a class="p-2 text-dark" href="{{url_for('about')}}">About Us</a>

      <a class="p-2 text-dark" href="{{url_for('bitcoin')}}">BitCoin</a>
      <!--<a class="p-2 text-dark" href="#">Pricing</a>-->
    </nav>
  </div>

  <div>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}
  </div>
    {% block content %}{% endblock %}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
  <hr class="featurette-divider">
  <h6 class="my-0 font-italic text-center">Researched by UC&Spectrum | Coded by Mo Xun Yan Technology  </h6>
  <p class="text-center">© Copyright 2018 </p> <br/>

  </body>
</html>