{% extends "base.html" %}

{% block content %}

    <section class="jumbotron text-center mb-0"
             style="background: url({{ url_for('static', filename='images/bg2.jpg') }}) center no-repeat;">
      <div class="container">
        <h2>Google Ad. ML Advisory</h2>
        <form action="" method="post" >
          {{ form.hidden_tag() }}
{#            {{ form.product.label }}<br>#}
{#            {{ form.product}}#}
          <p>
            {{ form.landing_page.label }}<br>
            {{ form.landing_page(size=100) }}
          </p>
          <p>{{ form.submit() }}</p>
        </form>
      </div>
    </section>

    {% if error %}
      <div class="container">
        <div class="col-md-12 px-10">
          <h5 class="font-italic text-center">Opps..</h5>
          <p class="lead my-3 text-center">{{ error }}</p>
        </div>
      </div>
    {% endif %}

    {% if landing_content %}
      <div class="container">
        <div class="col-md-12 px-10">
          <h4 class="font-italic text-center">Landing Page Content</h4>
          <p class="lead my-3">{{landing_content}}</p>

          <h4 class="font-italic text-center">Headline - ML Algorithms Recommend</h4>

<p class="text-right">
    Real Time Test Set Metrics:<br>
    Confusion Matrix = {{conf_mat_h}}<br>
    Accuracy = {{accuracy_h}}<br>
    AUC = {{ auc_h }}
</p>

<div class="rst-table-out wrapper">
<table border="1" class="rst-table inner text-center">
    <thead>
        <tr>
            {% for col in colnames %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for record in recordsh %}
        <tr>
            {% for col in colnames %}
            <td>{{ record[col] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<br><br>
          <h4 class="font-italic text-center">Description - ML Algorithms Recommend</h4>

<p class="text-right">
    Real Time Test Set Metrics:<br>
    Confusion Matrix = {{conf_mat_d}}<br>
    Accuracy = {{accuracy_d}}<br>
    AUC = {{ auc_d }}
</p>
<div class="rst-table-out wrapper">
<table border="1" class="rst-table inner text-center">
    <thead>
        <tr>
            {% for col in colnames %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for record in recordsd %}
        <tr>
            {% for col in colnames %}
            <td>{{ record[col] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>


        </div>
      </div>
    {% endif %}
{% endblock %}